Repository notAro14/webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,sass,md,mdx,html,json}": [
    "prettier --write --ignore-unknown"
  ],
  "*.{jsx,js,ts,tsx}": [
    "eslint --report-unused-disable-directives --max-warnings 0"
  ]
}

update packages to latest version
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

format files
  pnpm-lock.yaml
Due: none

introduce ladle and remove code
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/adapters/UsersGateway.production.ts
  src/components/ui/Text/Text.css.ts
  src/components/ui/Text/Text.stories.tsx
  src/components/ui/Text/index.ts
  src/components/users.test.tsx
  src/components/users.tsx
  src/main.tsx
  src/store/queryClient.ts
  src/test/providers.tsx
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0

add css reset
  src/App.tsx
  src/css/reset.css
  src/main.tsx
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0

setup import alias
  src/App.tsx
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0

add theme vars
  .ladle/components.tsx
  src/App.tsx
  src/components/ui/Text/Text.css.ts
  src/css/theme.css.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0

replace vanilla extract by panda css
  .eslintrc.cjs
  .gitignore
  .ladle/components.tsx
  package.json
  panda.config.ts
  pnpm-lock.yaml
  postcss.config.cjs
  src/App.tsx
  src/components/Providers.tsx
  src/components/ui/Text/Text.css.ts
  src/components/ui/Text/Text.stories.tsx
  src/css/reset.css
  src/css/theme.css.ts
  src/index.css
  src/main.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0

add router and refactor
  index.html
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/Home.tsx
  src/components/Providers.tsx
  src/main.tsx
  src/router.tsx
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings 0
